@model List<EmpManagment.Bol.ViewModels.UserAreaViewModels.ViewModels.UserRoleViewModel>

@{
    ViewBag.Title = "Edit Users Role";
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    @Html.HiddenFor(m => m[i].UserId)
                    @Html.HiddenFor(m => m[i].UserName)
                    @Html.CheckBoxFor(m => m[i].IsSelected, htmlAttributes: new { @class = "form-check-input" })
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            @Html.ActionLink("Cancel", "EditRole", "Administration", new { area = "User", id = roleId }, htmlAttributes: new { @class = "btn btn-primary", @style = "width:auto" })
        </div>
    </div>
</form>