@model EmpManagment.Bol.ViewModels.Security.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<div class="gray-bg">
    <div class="text-center animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name" style="font-size: 110px">IN+</h1>
            </div>
            <h3>Welcome to IN+</h3>
            <p>
                Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>Login in. To see it in action.</p>
            <div class="row" style="text-align: left;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content gray-bg">
                                    @using (Html.BeginForm("Login", "Account", new { Area = "Security" }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="text-danger">@Html.ValidationSummary()</div>
                                        if (Model.ReturnUrl != null && Model.ReturnUrl != "")
                                        {
                                            var getReturnUrl = Model.ReturnUrl;
                                            @Html.Hidden("returnUrl", new { returnUrl = getReturnUrl })
                                        }
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @placeholder = "Email" })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Password</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <div class="checkbox">
                                                    <label asp-for="RememberMe">
                                                        @Html.CheckBoxFor(model => model.RememberMe, htmlAttributes: new { @type = "checkbox" })
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-3">
                                                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                                            </div>
                                            <div class="col-sm-3"><a class="btn btn-white btn-block full-width m-b" href="@Url.Action("Register", "Account", new { Area = "Security" })">Create an account</a></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-3">
                                                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", new { area = "Security" })
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Use another service to login.</h1>
                    <hr />
                    @Html.Partial("_ExternalLoginsListPartial", new EmpManagment.Bol.ViewModels.Security.ViewModels.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p>
        </div>
    </div>
</div>